<link rel="stylesheet" href="{{ url_for('static',filename="css/album.css") }}">
{% extends "base.html" %}
{% block mainContent %}
    <div id="album_wall">
        <ul class="polaroids">
			<li><a href="{{ url_for('pictureDisplay',type="LIFE") }}" title="Daily Life"><img src="{{ url_for('static',filename='assets/painting_wall/life.jpg') }}" alt="Daily Life"></a></li>
			<li><a href="{{ url_for('pictureDisplay',type="MOVIE") }}" title="Movie"><img src="{{ url_for('static',filename='assets/painting_wall/movie.jpg') }}" alt="Movie"></a></li>
			<li><a href="{{ url_for('pictureDisplay',type="ACG") }}" title="ACG"><img src="{{ url_for('static',filename='assets/painting_wall/acg.jpeg') }}" alt="ACG"></a></li>
			<li><a href="{{ url_for('pictureDisplay',type="PAINTING") }}" title="Painting"><img src="{{ url_for('static',filename='assets/painting_wall/painting.jpg') }}" alt="Painting"></a></li>
			<li><a href="{{ url_for('pictureDisplay',type="PLACES") }}" title="Places of Interests"><img src="{{ url_for('static',filename='assets/painting_wall/places.jpg') }}" alt="Places of Interests"></a></li>
			<li><a href="{{ url_for('pictureDisplay',type="WALLPAPER") }}" title="Wall Paper"><img src="{{ url_for('static',filename='assets/painting_wall/wallpaper.jpg') }}" alt="Wallpaper"></a></li>
		</ul>
    </div>
{% endblock %}

{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}

<script src="{{ url_for('static',filename="js/album.js") }}"></script>