<link rel="stylesheet" href="{{ url_for('static',filename="css/blogContent.css") }}">

{% macro comment_item(username,information,icon) %}

    <table style="width: 100%">
        <tr>
            <td rowspan="2" style="width: 70px;height: 70px">
               <img class="portrait_icon" src="{{ url_for('static',filename='assets/portrait/'+icon+'.png') }}">
            </td>
            <td class="comment_username">{{ username }}</td>
        </tr>
        <tr><td class="comment_information"> {{ information }}</td></tr>
    </table>

{% endmacro %}

{% extends 'index.html' %}
{% block blog_content %}
    <div style="background-color: #aaaaaa">
        {% include name %}
    </div>
    <hr/>
    <ul>
        {% for comment in comments_in_db %}
            {{ comment_item(comment.username,comment.information,comment.icon) }}
        {% endfor %}
    </ul>
    {# here the form is referenced from Week 10 #}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.comment.label }}</p>
        <P>{{ form.comment }}</P>
        {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {% for msg in get_flashed_messages() %}
            {% if loop.last %}
                <p>{{ msg }}</p>
            {% endif %}
        {% endfor %}

        {% if username %}
            <div id="input_feedback"></div>
        {% else %}
        {% endif %}
        <P>{{ form.submit }}</P>
    </form>
    <script src="{{ url_for('static',filename='js/blogContent.js') }}"></script>
{% endblock %}

{% block ranking_list %}
{% endblock %}

{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}