<link rel="stylesheet" href="{{ url_for('static',filename="css/contact.css") }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/chat.css') }}">
{% macro chat(name) %}
    <div class="qqBox">
			<div class="context">
				<div class="conRight">
					<div class="Righthead">
						<div class="headName">{{ name }}</div>
					</div>
                    <div class="RightCont">
						<ul class="newsList">

						</ul>
					</div>
					<div class="RightFoot">
						<div class="inputBox">
							<textarea id="dope" style="width: 99%;height: 75px; border: none;outline: none; resize: none" name="" rows="" cols=""></textarea>
							<button class="sendBtn">发送(s)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endmacro %}
{% extends "base.html" %}

{% block mainContent %}
    <div style="width: 1200px ; position: relative; margin: 0 auto">
        <aside class="contact_aside">
        <img id="self_image" src="{{ url_for('static',filename='assets/leif.jpg') }}">
        <div id="name_signature">
            Leif
        </div>
        <div id="name_chinese">
            Yao Yuxiang
            <div id="simple_info">
                One Stage3 Student in BDIC
            </div>
        </div>
        <table id="aside_table_contact_info">
            <a href="mailto:yaoyuxiangyyx2009@126.com">
                <tr>
                    <td>
                        <a class="aside_icon_href" href="mailto:yaoyuxiangyyx2009@126.com">
                            <div class="item_aside_table_contact_info">
                                <img id="image_mailto" class="aside_icon" src="{{ url_for('static',filename='assets/mail.png') }}">Mail
                            </div>
                        </a>
                    </td>
                </tr>
            </a>
            <tr>
                <td>
                    <a class="aside_icon_href" href="https://github.com/LeifYaoYuXiang">
                        <div class="item_aside_table_contact_info">
                            <img id="image_github" class="aside_icon" src="{{ url_for('static',filename='assets/github.png') }}">Github
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </aside>
        <div id="main_information_right_part" style="margin-top: 290px">
            {{chat("Please write down your suggestions, thanks!")}}
        </div>
    </div>
{% endblock %}
