<link rel="stylesheet" href="{{ url_for('static',filename="css/basic.css") }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% macro blog_list_item(title="",basicInformation="",time="",readingTimes="",comments="") %}
    <div class="blog_item">
        <div class="blog_name">
            <a href="{{ url_for('blogContent',blog_name=title) }}">
                {{ title }}
            </a>
        </div>
        <div class="blog_description">
            {{ basicInformation }}
        </div>
        <div class="blog_information">
            <table style="width: 100%">
                <tr>
                    <td class="blog_date">{{ time }}</td>
                    <td class="blog_reading">Reading Times:{{ readingTimes }}</td>
                    <td class="blog_comment">Comments: {{ comments }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro ranking_item(title,click) %}
    <tr>
        <td class="classification_item">
            <a href="{{ url_for('blogContent',blog_name=title) }}">
                {{ title }}
            </a>
        </td>
        <td class="classification_number">{{ click }}</td>
    </tr>
{% endmacro %}

{% extends "base.html" %}
{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}

{% block mainContent %}
    <aside class="vertical_list">
        <div>
            <div style="width: 100%">
                <img id="self_image" src="{{ url_for('static',filename='assets/leif.jpg') }}">
                <div id="name">Leif Yao</div>
            </div>
            <table id="aside_table_Data_Display">
                <tr>
                    <th class="aside_data_aspect">
                        Original
                    </th>
                    <th class="aside_data_aspect">
                        Fans
                    </th>
                    <th class="aside_data_aspect">
                        Comments
                    </th>
                </tr>
                <tr>
                    <td class="aside_data">
                        {{ original }}
                    </td>
                    <td class="aside_data">
                        {{ fans }}
                    </td>
                    <td class="aside_data">
                        {{ comments_total }}
                    </td>
                </tr>
            </table>
            <div style="width: 100%">
                <div id="classification-title">
                    Field
                </div>
                <table id="classification-table" style="width: 90%">
                    <tr>
                        <td class="classification_item">Java</td>
                        <td class="classification_number">{{ java_blog }}</td>
                    </tr>
                    <tr>
                        <td class="classification_item">C</td>
                        <td class="classification_number">{{ c_blog }}</td>
                    </tr>
                    <tr>
                        <td class="classification_item">Flask</td>
                        <td class="classification_number">{{ flask_blog }}</td>
                    </tr>
                    <tr>
                        <td class="classification_item">OpenGL</td>
                        <td class="classification_number">{{ opengl_blog }}</td>
                    </tr>
                    <tr>
                        <td class="classification_item">Android</td>
                        <td class="classification_number">{{ android_blog }}</td>
                    </tr>
                    <tr>
                        <td class="classification_item">Python</td>
                        <td class="classification_number">{{ python_blog }}</td>
                    </tr>
                </table>
            </div>

            <div style="width: 90%">
                {% block ranking_list %}
                    <div id="rankings_title">
                        Rankings
                    </div>
                    <table id="classification-table" style="width: 90%">
                        {% for item in all_blog_information %}
                            {{ ranking_item(item.title,item.click) }}
                        {% endfor %}
                    </table>
                {% endblock %}
            </div>
        </div>
    </aside>
    <div id="main_content">
        {% block blog_content %}
            <div style="width: 100%" id="searchBlog">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <P>{{ form.search }}{{ form.submitSearch }}</P>
                </form>
            </div>
            <div id="blog_list">
                <div>
                    {% for blogs in all_blog_information %}
                        {{ blog_list_item(blogs.title,"",blogs.time,blogs.click, blogs.comment) }}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>


{% endblock %}




