<link rel="stylesheet" href="{{ url_for('static',filename="css/login.css") }}">
{% extends "base.html" %}
{% block mainContent %}
    <div>

    </div>
    <div id="login_div">
    {# the form is referenced from lecture slide WEEK 10 #}
        {% if username %}
            <h1>Welcome {{ username }}!</h1>
        {% else %}
            <h1>Log In Your Account</h1>
        {% endif %}
        {% for msg in get_flashed_messages() %}
            {% if loop.last %}
                 <p>{{ msg }}</p>
            {% endif %}
        {% endfor %}
        {% block content %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>{{ form.username.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username(size=32) }}</p>
                <p>{{ form.password.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password(size=32) }}</p>
                <p>{{ form.remember_me.label }}{{ form.remember_me }}</p>

                <P>{{ form.submit }}</P>
                <p>
                    {% if username %}
                        <a href="{{ url_for("signup") }}">You have one account, may you need a new one?</a>
                    {% else %}
                        <a href="{{ url_for("signup") }}">I do not have one account yet, I want to register one</a>
                    {% endif %}
                </p>
            </form>
        {% endblock %}
    </div>
    <script src="{{ url_for('static',filename='js/login.js')}}"></script>
{% endblock %}

{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}

