<link rel="stylesheet" href="{{ url_for('static',filename='css/pictureDisplay.css') }}">
{% extends "base.html" %}

{% macro display_item(image_src,id)%}
    <input type="radio" name="slide_switch" id={{id}} />
    <label for={{id}}>
        <img src={{url_for('static',filename=image_src)}} width="100" />
    </label>
    <img src={{url_for('static',filename=image_src)}} />
{% endmacro %}

{% block mainContent %}
    <div class="slider">
    {% for pic in pics %}
       {{ display_item(pic,loop.index) }}
    {% endfor %}
    </div>
{% endblock %}

{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}