<link rel="stylesheet" href="{{ url_for('static',filename='css/resources.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/basic.css') }}">

{% extends "base.html" %}

{% macro download_item(name,type,basic_info,size,download_times,file_name) %}
    <div class="download_item" style="width: 100%; height:100px">
        <div class="item_image_container">
            {% if  type== "APK" %}
                <img src="{{ url_for('static',filename="assets/resources_item/apk.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="JAR" %}
                <img src="{{ url_for('static',filename="assets/resources_item/jar.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="DOC" %}
                <img src="{{ url_for('static',filename="assets/resources_item/doc.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="EXCEL" %}
                <img src="{{ url_for('static',filename="assets/resources_item/excel.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="PDF" %}
                <img src="{{ url_for('static',filename="assets/resources_item/pdf.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="PPT" %}
                <img src="{{ url_for('static',filename="assets/resources_item/ppt.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="PYTHON" %}
                <img src="{{ url_for('static',filename="assets/resources_item/python.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% elif type=="ZIP" %}
                <img src="{{ url_for('static',filename="assets/resources_item/zip.png") }}"
                     style="width: 80px;height: 80px;margin-top: 10px">
            {% endif %}
        </div>
        <div class="item_information_container">
            <div class="item_information_title">
                {% if  type== "APK" %}
                    <a href="{{ url_for('download',filename=file_name+".apk") }}"> {{ name }}</a>
                {% elif type=="JAR" %}
                    <a href="{{ url_for('download',filename=file_name+".jar") }}"> {{ name }}</a>
                {% elif type=="DOC" %}
                    <a href="{{ url_for('download',filename=file_name+".doc") }}"> {{ name }}</a>
                {% elif type=="EXCEL" %}
                    <a href="{{ url_for('download',filename=file_name+".xls") }}"> {{ name }}</a>
                {% elif type=="PDF" %}
                    <a href="{{ url_for('download',filename=file_name+".pdf") }}"> {{ name }}</a>
                {% elif type=="PPT" %}
                    <a href="{{ url_for('download',filename=file_name+".ppt") }}"> {{ name }}</a>
                {% elif type=="PYTHON" %}
                    <a href="{{ url_for('download',filename=file_name+".py") }}"> {{ name }}</a>
                {% elif type=="ZIP" %}
                    <a href="{{ url_for('download',filename=file_name+".zip") }}"> {{ name }}</a>
                {% endif %}
            </div>
            <div class="item_information_description">
                {{ basic_info }}
            </div>
            <div class="item_information_detail">
                <span>Size: {{ size }}KB  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>Download Times: {{ download_times }}</span>
            </div>
        </div>
    </div>
{% endmacro %}


{% block mainContent %}
    <div class="cation-content" style="border: 1px black dotted">
    {#
    the following div is referenced from  http://www.jq22.com/jquery-info21914
    I make some modifications according to this context
    I promise I can answer questions if you ask some related questions
    #}
        <div class="cation-middle">
            {#  <dl> 标签定义了定义列表（definition list）
            {#  <dl> 标签用于结合 <dt>：定义列表中的项目和 <dd>：描述列表中的项目 #}
            <dl class="cation-list">
                <dt>Field</dt>
                <dd>
                    <a href="{{ url_for('resources') }}" rel="" name="mode" class="all on">All</a>
                    <a href="{{ url_for('resources_search',keyword="JAVA") }}" rel="" name="mode"
                       class="default">Java</a>
                    <a href="{{ url_for('resources_search',keyword="C") }}" rel="" name="mode" class="default">C/C++</a>
                    <a href="{{ url_for('resources_search',keyword="OPENGL") }}" rel="" name="mode" class="default">OpenGL</a>
                    <a href="{{ url_for('resources_search',keyword="FLASK") }}" rel="" name="mode"
                       class="default">Flask</a>
                    <a href="{{ url_for('resources_search',keyword="ANDROID") }}" rel="" name="mode" class="default">Android</a>
                    <a href="{{ url_for('resources_search',keyword="PYTHON") }}" rel="" name="theme" class="default">PYTHON</a>
                </dd>
            </dl>
            <dl class="cation-list">
                <dt>Type</dt>
                <dd>
                    <a href="{{ url_for('resources') }}" rel="" name="theme" class="all on">All</a>
                    <a href="{{ url_for('resources_search',keyword="JAR") }}" rel="" name="theme"
                       class="default">JAR</a>
                    <a href="{{ url_for('resources_search',keyword="DOC") }}" rel="" name="theme"
                       class="default">DOC</a>
                    <a href="{{ url_for('resources_search',keyword="PPT") }}" rel="" name="theme"
                       class="default">PPT</a>
                    <a href="{{ url_for('resources_search',keyword="EXCEL") }}" rel="" name="theme" class="default">EXCEL</a>
                    <a href="{{ url_for('resources_search',keyword="ZIP") }}" rel="" name="theme"
                       class="default">ZIP</a>
                    <a href="{{ url_for('resources_search',keyword="APK") }}" rel="" name="theme"
                       class="default">APK</a>
                </dd>
            </dl>
        </div>
    </div>
    <div style="width: 1200px; margin: 0 auto; padding: 0">
        {% block searchResources %}
            {% for item in resources_in_db %}
                {{ download_item(item.name,item.type,item.description,item.size,item.download,item.name) }}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}

{% block login %}
    {% if username %}
        {{ username }}
    {% else %}
        Login
    {% endif %}
{% endblock %}