{% macro display_item(img_src,description,price) %}
    <div>
        <img src="{{ url_for('static',filename=img_src) }}">
        <table>
            <tr>
                <td colspan="2">{{description}}</td>
                <td rowspan="2">
{#                    <img src="">#}
                    图片
                </td>
            </tr>
            <tr>
               <td colspan="2">{{ price }}</td>
            </tr>
        </table>
    </div>
{% endmacro %}

{% macro display_item_type()%}
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
{% endmacro %}

{% extends 'base.html' %}
{% block mainContent %}
    <div>
        侧滑栏展示商品
    </div>
    <div>
        食品
    </div>
    {{ display_item("fruit","fruit",13.99) }}


{% endblock %}