<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Flask is best</h1>
<hr/>
<div style="text-align: left">
    <h2>What is flask?</h2>
    Flask is a web framework. This means flask provides you with tools, libraries and technologies that allow you to
    build a web application. This web application can be some web pages, a blog, a wiki or go as big as a web-based
    calendar application or a commercial website.<br>
    Flask is part of the categories of the micro-framework. Micro-framework are normally framework with little to no
    dependencies to external libraries. This has pros and cons. Pros would be that the framework is light, there are
    little dependency to update and watch for security bugs, cons is that some time you will have to do more work by
    yourself or increase yourself the list of dependencies by adding plugins. In the case of Flask, its dependencies
    are:<br>
    <ul>
        <li>Werkzeug a WSGI utility library</li>
        <li>jinja2 which is its template engine</li>
    </ul>
    <h2>What are template engines?</h2>
    Have you ever built a website? Did you face the problem that to keep the style of the website consistent, you have
    had to write multiple times the same text? Did you ever tried to change the style of such website?<br>
    If your website contains only few pages, changing its style will take you some time but is doable. However, if you
    have a lot of pages (for example the list of items you sell in your store), this task become overwhelming.<br>
    Using templates you are able to set a basic layout for your pages and mention which element will change. This way
    you can define your header once and keep it consistent over all the pages of your website, and if you need to change
    your header, you will only have to update it in one place.<br>
    Using a template engine will save you a lot of time when creating your application but also when updating and
    maintaining it.<br>
</div>
</body>
</html>