<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello C</h1>
<hr/>
<div style="text-align: left">
    C is a procedural programming language. It was initially developed by Dennis Ritchie in the year 1972. It was mainly
    developed as a system programming language to write an operating system. The main features of C language include
    low-level access to memory, a simple set of keywords, and clean style, these features make C language suitable for
    system programmings like an operating system or compiler development.<br>
    Many later languages have borrowed syntax/features directly or indirectly from C language. Like syntax of Java, PHP,
    JavaScript, and many other languages are mainly based on C language. C++ is nearly a superset of C language (There
    are few programs that may compile in C, but not in C++).<br>
    <h2>Beginning with C programming:</h2>
    <h3>Structured language</h3>
    It has the ability to divide and hide all the information and instruction. <br>
    Code can be partitioned in C using functions or code block. <br>
    C is a well structured language compare to other.<br>
    <h3>General purpose language</h3>
    Make it ideal language for system programming.<br>
    It can also be used for business and scientific application. <br>
    ANSI established a standard for c in 1983.<br>
    The ability of c is to manipulate bits,byte and addresses.<br>
    It is adopted in later 1990.<br>
    <h3>Portability</h3>
    Portability is the ability to port or use the software written.<br>
    One computer C program can be reused.<br>
    By modification or no modification.<br>
</div>
</body>
</html>