body {
    background: #45454d;
    cursor: url("../assets/game/hammer.ico"), auto;
    user-select: none
}

.holes {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #45454d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hole {
    position: relative;
}

.hole img {
    position: absolute;
    width: 97%;
}

.hole img.boom {
    z-index: 1;
    visibility: hidden;
}

.hole img.mouse {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

div {
    font-size: 3em;
    color: #fff;
}