#login_div {
    position: absolute;
    right: 10%;
    top: 10%;
}
/*
I do the following CSS(input input:focus) from:https://blog.csdn.net/weixin_41728561/article/details/80984014
I make some modifications according to this context
I promise I can answer questions if you ask some related questions
*/
input{
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
/*I got the idea from: https://www.jianshu.com/p/c793fc0a5413
After inspect the code from the website, I write the following CSS
I make some modifications according to this context
I promise I can answer questions if you ask some related questions*/
#submit{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 70px;
    border-radius: 100px;
    background-color: #7B72E9;
    border-color: #7B72E9;
    box-sizing: border-box;
    cursor: pointer;
}