.download_item{
    position: relative;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.download_item:hover{
    transform: scale(1.1);
}

.item_image{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.item_image_container{
    position: absolute;
    width: 10%;
    left: 5%;
}

.item_information_container{
    position: absolute;
    width: 70%;
    right: 10%;
}

.item_information_title{
   text-align: left;
    font-weight: bold;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item_information_title:hover{
}

.item_information_description{
    text-align: left;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.item_information_detail{
    color: #959db1;
    text-align: left;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}

#main_content_div{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*everything that is related about:cation-list is referenced from: http://www.jq22.com/jquery-info21914
I make some modifications according to this context
I promise I can answer questions if you ask some related questions*/
.cation-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.cation-middle {
    line-height: 48px;
    /*
    line-height 属性设置行间的距离（行高）
    line-height 与 font-size 的计算值之差（在 CSS 中成为“行间距”）分为两半，
    分别加到一个文本行内容的顶部和底部。可以包含这些内容的最小框就是行框。
    */
    background: #fff;
    padding: 10px 20px 10px 30px;
    font-size: 14px;
}

.cation-list {
    overflow: hidden;
    /*overflow 属性规定当内容溢出元素框时发生的事情
    可选值如下：
        visible：默认值。内容不会被修剪，会呈现在元素框之外
        hidden：内容会被修剪，并且其余内容是不可见的
        scroll：内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容
        auto ：如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容*/
}

.cation-list dt {
    float: left;
    width: 64px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    color: #333;
}

:before, :after {
    /*
     box-sizing 是用于告诉浏览器如何计算一个元素是总宽度和总高度
        标准盒模型 box-sizing: content-box
            width = content width;
            height = content height
        IE盒模型 box-sizing: border-box
            width = border + padding + content width
            height = border + padding + content heigth
     https://www.jianshu.com/p/9c7487f4e89a
    */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.cation-list dt:after {
    /*实现了 > 的效果*/
    content: "";
    position: absolute;
    right: 12px;
    top: 22px;
    border: 1px solid #333;
    border-width: 0 1px 1px 0;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.cation-list dd {
    border-bottom: 1px dotted #e0e0e0;
    margin-left: 64px;
    overflow: hidden;
}

.cation-list dd a {
    color: #8d8d91;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    float: left;
    border-right: 1px solid #e0e0e0;
    padding: 0 18px;
    margin: 17px 0;
}

.cation-list a:hover {
    color: #1B9AF7;
}

.cation-list dd a:last-child {
    border-right: 0 none;
}

.cation-list:last-of-type dd {
    border-bottom: 0 none;
}


